.mailbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mailbody1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
}

.mailbody2{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* width: 800px; */
}