.mail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.red {
  color: red;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.bg-fav {
  background-color: rgb(197, 197, 197);
}
