.filter {
  padding: 4px 12px;
  font-weight: 500;
  color: black;
  display: flex;
  gap: 1rem;
}

.opt {
  color: black;
  padding: 0px 15px;
  background-color: #cfd2dc;
  border: 1px solid #cfd2dc;
  border-radius: 10px;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: black;
}
